@import "tailwindcss";
@plugin '../lib/hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

.font-system {
  font-family: var(--font-en), var(--font-th), sans-serif;
}

.border {
  border: 8px dashed #d1d2d4;
}

/* .border-default {
  border: 1px dashed #D1D2D4;
} */

.border-default-200 {
  border: 2px solid #d1d2d4;
}

.bg-content1 {
  background-color: #ffffff;
}

svg.lucide {
  width: 24px;
  height: 24px;
  stroke-width: 2px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@keyframes logo {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}
