@import "tailwindcss";
@plugin '../lib/hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

body {
  font-family: var(--gruppo);
}

.border {
  border: 2px dashed #000000;
}

.border-default-200 {
  border: 2px solid #000000;
}
