@import "tailwindcss";
@plugin '../lib/hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

.font-system {
  font-family: var(--font-en), var(--font-th), sans-serif;
}

.border {
  border: 1px dashed #000000;
}

.border-default-200 {
  border: 1px solid #000000;
}
