@import "tailwindcss";
@plugin '../lib/hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

.font-system {
  font-family: var(--font-en), var(--font-th), sans-serif;
}

.border-default-200 {
  border: 2px solid #F1F5F9;
}

.border-default-100 {
  border: 2px solid #F1F5F9;
}

.bg-content1 {
  background-color: #ffffff;
}

svg.lucide {
  width: 20px;
  height: 20px;
  stroke-width: 1px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@keyframes logo {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}
